.footer__container{
    background-color: #000000be;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;

    span {
        font-weight: bold;
    }
}